<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Esto es <%= title %></h1>
    <h2>otro juego mas para averiguar quien es el mas listo</h2>
  <footer>
      <a href="https://github.com/tingoodman/quiz">Quiz en GitHub</a>
  </footer>
    </body>
</html>
