<article class="author">
    <h3 class="author__caption">About me</h3>
    <div class="author__photo"><img src="images/tsg.jpg" alt="Terencio Soler"></div>
    <p class="author__name">Terencio Soler</p>
    <p class="author__email">correo@terencio.com</p>
    <p class="author__info">I'm a sysadmin and occasional programmer who I've developed several applications for multiple platforms with different languages like c++, java, php, bash, python, autoit, visual c#/basic among a few more. It could say that I love developing and learning and playing with new languages and methodologies. In spite of I learnt, some years ago, that any project could be done of several ways you should use the proper tools for do it, I mean, the right programming language. So as far as you are becoming a professional developer you learn to love the most of languages as well and you left of having a favorite programming language to have several. Said that, nowadays javascript is the language to learn and to love and all of its transpilers like coffeescript or babel, and the huge and fast growing world around of it with frameworks, libraries and tools... I don't know if I will live enough to satisfy my curiosity but I will try. </p>
</article>