<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title> Q U I Z </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Q U I Z : el juego de las preguntas</h2>
    <p>
        <%= respuesta %><br>
        <a href="/quizes/question"> Intentelo otra vez </a>
    </p>
  <footer>
      <a href="https://github.com/tingoodman/quiz">Quiz en GitHub</a>
  </footer>
    </body>
</html>

