* { margin: 0; padding: 0; }

body {font: 16px Georgia, serif; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black;}

section > div { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer { background: #eee; text-align: center;}
nav span { margin: 0px 10px 0px 0px;}

.author { display: table;}
    .author__caption {display: table-caption; padding: 8px; background: #dddddd}
    .author__photo {display: table-cell; vertical-align: top; padding: 10px}
    .author__name {text-align: left; padding: 5px 0 0 5px}
    .author__email {text-align: left; padding: 0 0 10px 5px}
    .author__info {text-align: justify;padding: 5px}